@import "../lib/bootstrap/less/bootstrap.less";

@primary-color-dark: #5A0C3C;
@primary-color-bright: #C50676;
@primary-color-font: #EA088D;
@primary-color-font-bright: #FFF;

@secondary-color-dark: #2B2B2B;
@secondary-color-bright: #505050;
@secondary-color-font-dark: #555;
@secondary-color-font-bright: #FFF;


body {
  background: url('../img/bg-main.jpg') repeat-x #F7F7F7;
}

small{color:#999;}

.secondary-btn{background:url('../img/secondary_gradient.gif'); color:@secondary-color-font-bright; margin-bottom:5px;}
.secondary-btn:hover{color:@secondary-color-font-bright; background:#666;}

a{color:@primary-color-font}
a:hover{color:@primary-color-font}

.large-container{ text-align: left; background: url('../img/shine1.png') no-repeat; width:100%;

  background-position: -400px 0px;}

/* Customize container */
@media (min-width: @screen-md) {
  .container {
    max-width: 1068px;
  }
}

.header{
  .make-row();

  .logo{
    .make-md-column(4);
    background: url('../img/logo.png') no-repeat; min-width:318px; height:109px; margin:20px 0px;
  }

  .search{
    .make-md-column(4.5);

    margin-top:70px;

    .search-input{ width:260px; height:42px; padding:0px 10px; border:0px; box-shadow: inset 0px 3px 20px #999; float:left }

    .search-submit{ width:41px; height: 42px; background: url('../img/search_button.png'); border:0px; float:left; }
  }

  .cart{
    .make-md-column(3.5);

    margin-top:10px;

    .cart-img{background: url('../img/cart-img.png'); width:56px; height:79px; position:relative; top:40px; z-index: 1000; left:20px;}

    .cart-info{background: url('../img/secondary_gradient.gif'); height:43px;
      text-align: center; line-height:45px; padding-left:60px;
      position: relative; bottom:20px;

      span{color:@primary-color-font}

      strong{color:@secondary-color-font-bright; font-weight:normal; }
    }
  }
}


.lower-header{

  .make-row();

  .menu{background:url('../img/primary_gradient.gif'); height:60px;

    @media (max-width: 1068px) {
      display:none;
    }
    ul{
      list-style: none;

      padding:0px;
      margin:0px;

      li{float:left; padding:0px; margin:0px;
        a{ color:@primary-color-font-bright; padding:19px 30px; border-right:1px solid #333; display: block; font-size:16px;}
        a:hover{background:url('../img/primary_gradient_dark.gif'); text-decoration: none;}
      }
    }
  }
}


.content{
  margin-bottom:40px;
  .make-row();

  background:#FFF;

  padding-top:20px;

  .main-title{
    background:url('../img/secondary_gradient.gif'); height:43px; color:@secondary-color-font-bright;
    padding:10px 20px;
    font-size:16px;
    .glyphicon{margin-right:6px;}
  }

  .main-bright-title{
    background:#E9E9E9;
    height:43px; color:#333;
    padding:10px 20px;
    font-size:16px;
  }

  .big-body{
    .make-md-column(12);
    padding:20px;
  }

  .body{
    .make-md-column(9);
  }

  .sidebar{
    .make-md-column(3);
  }
}


.products{
  .make-row();
  background:#FFF;

  padding:15px;
  padding-top:0px;

  .product{
    .make-md-column(4);
    border-left:1px solid #F5F5F5;
  }

}

.box{margin-bottom:20px; border:1px solid #EEE; padding:0px 15px;}


.product{
  text-align: center;

  padding:40px 0px 10px 0px;

  .img{margin-bottom:10px; display: inline-block;}
  .prices{
    .before-price{text-decoration: line-through; font-size:14px;}
    .actual-price{font-size:17px;}
  }

  h2.product-title{color:@primary-color-font; font-size:16px;}

  .buttons{
    margin-top:10px;
    div{ padding:10px; color:@primary-color-font-bright; margin-left:5px; cursor: pointer;}
    .add-to-cart{background: url('../img/add_to_cart_gradient.gif'); height:39px; display:inline-block;}
    .add-to-cart:hover{background:#c0213a}
    .details{background: url('../img/details_gradient.gif'); height:39px; display:inline-block;}
    .details:hover{background:#333}
  }
}


.pagination{
  .active span{background:#E24F69; border:0px}
  .active span:hover{background:#C13D63}
}


.cart{
  p{margin:10px;}
  b{float:right;}
  table{
    border-collapse:collapse;
    tr th{background:#EEE; color:#333; font-weight: normal; }
    tr th, tr td{text-align: center; border: 1px solid #EEE;padding:10px 20px; vertical-align: top; border-color: #DDD;}

    strong{font-size:18px; font-weight: bold;}

    img{width:100px;}

    .txt{width:30px;}

    .product-info{
      a{display:block; margin-bottom:10px;}
    }

  }
}


.footer{margin-top:0px; text-align: center; padding:30px;
  .copyright{font-size:12px; color:#666;}
}
