@import "../lib/bootstrap/less/bootstrap.less";

@primary-color-dark: #5A0C3C;
@primary-color-bright: #C50676;
@primary-color-font: #EA088D;
@primary-color-font-bright: #FFF;

@secondary-color-dark: #2B2B2B;
@secondary-color-bright: #505050;
@secondary-color-font-dark: #555;
@secondary-color-font-bright: #FFF;
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

body {
  background: url('../img/bg-main.jpg') repeat-x #F7F7F7;
}

small{color:#999;}

.secondary-btn{background:url('../img/secondary_gradient.gif'); background:#333; color:@secondary-color-font-bright; margin-bottom:5px;}
.secondary-btn:hover{color:@secondary-color-font-bright; background:#666;}

a{color:@primary-color-font}
a:hover{color:@primary-color-font}

.btn-link{color:@primary-color-font}

.large-container{ text-align: left; background: url('../img/shine1.png') no-repeat; width:100%;

  background-position: -400px 0px;}

/* Customize container */
@media (min-width: @screen-md) {
  .container {
    max-width: 1068px;
  }
}

#flashContent{height:335px;}

.header{
  .make-row();

  .logo{
    .make-md-column(4);
    background: url('../img/logo.png') no-repeat; min-width:318px; height:109px; margin:20px 0px;
  }

  .search{
    .make-md-column(4.5);

    margin-top:70px;

    .search-input{ width:260px; height:42px; padding:0px 10px; border:0px; box-shadow: inset 0px 3px 20px #999; float:left }

    .search-submit{ width:41px; height: 42px; background: url('../img/search_button.png'); border:0px; float:left; }
  }

  .cart{
    cursor: pointer;
    .make-md-column(3.5);

    margin-top:10px;

    .cart-img{background: url('../img/cart-img.png'); width:56px; height:79px; position:relative; top:40px; z-index: 1000; left:20px;}

    .cart-info{background: url('../img/secondary_gradient.gif'); height:43px;
      text-align: center; line-height:45px; padding-left:60px;
      position: relative; bottom:20px;

      span{color:@primary-color-font}

      strong{color:@secondary-color-font-bright; font-weight:normal; }
    }
  }
}


.lower-header{

  .make-row();

  .menu{background:url('../img/primary_gradient.gif'); height:60px;

    @media (max-width: 1068px) {
      display:none;
    }
    ul{
      list-style: none;

      padding:0px;
      margin:0px;

      li{float:left; padding:0px; margin:0px;
        a{ color:@primary-color-font-bright; padding:19px 28px; border-right:1px solid #333; display: block; font-size:16px;}
        a:hover{background:url('../img/primary_gradient_dark.gif'); text-decoration: none;}
      }
    }
  }
}


.content{
  margin-bottom:40px;
  .make-row();

  background:#FFF;

  padding-top:20px;


  .main-extra-bright-title{
    background:url('../img/primary_title_gradient.gif');
    padding:10px 20px;
    color:#333;
    font-size:14px;
    b{color:@primary-color-bright; font-weight:normal;}
    .glyphicon{margin-right:6px;}
    cursor: pointer;
    border: 1px solid #EEE;
  }

  .main-title{
    background:url('../img/secondary_gradient.gif'); height:43px; color:@secondary-color-font-bright;
    padding:10px 20px;
    font-size:16px;
    .glyphicon{margin-right:6px;}
  }

  .main-bright-title{
    background:#E9E9E9;
    height:43px; color:#333;
    padding:10px 20px;
    font-size:16px;
    .glyphicon{margin-right:6px;}
  }

  .big-body{
    .make-md-column(12);
    padding:20px;
  }

  .body{
    .make-md-column(9);
  }

  .sidebar{
    .make-md-column(3);
  }
}


.products{
  .make-row();
  background:#FFF;

  padding:15px;
  padding-top:0px;

  .product{
    .make-md-column(4);
    border-left:1px solid #F5F5F5;
  }

}

.box{margin-bottom:20px; border:1px solid #EEE; padding:0px 15px;

  .padding-p{padding:20px 10px;}
}


.product{
  text-align: center;

  padding:40px 0px 10px 0px;

  .product-body{cursor: pointer}

  .product-body:hover{
    opacity: 0.8;
  }

  .img{margin-bottom:10px; display: inline-block;}
  .prices{
    .before-price{text-decoration: line-through; font-size:14px;display: block; color:#666;}
    .actual-price{font-size:17px;}
  }

  .buttons{
    margin-top:10px;
  }

  h2.product-title{color:@primary-color-font; font-size:16px;}
}

.my-btn{ padding:10px; color:@primary-color-font-bright; margin-left:5px; cursor: pointer; border:0px;}
.add-to-cart{background: url('../img/add_to_cart_gradient.gif'); height:39px; display:inline-block;}
.add-to-cart:hover{background:#c0213a; color:#FFF; text-decoration: none;}
.details{background: url('../img/details_gradient.gif'); height:39px; display:inline-block;}
.details:hover{background:#333; color:#FFF; text-decoration: none;}
.in-cart{background:#E9E9E9; color:#333; height:39px; display: inline-block;}

.main-product{
  .make-row();
  .img{.make-md-column(5)}
  .product-info{.make-md-column(7);

    .row{
      margin-top:10px;
      .key{float:left; margin-right:5px; color:#333; font-weight: bold; font-size:14px;}
      .value{float:left; color:#333; font-size:14px;}
    }

    .prices{font-size:16px; margin-top:10px; color:#000;
      .before-price{font-size:12px; text-decoration: line-through; color:#666;}
    }
  }
}
.full-product{
  .make-row();

  margin:20px 10px 50px 10px;
  .img{.make-md-column(4)}
  .product-info{.make-md-column(7); margin-bottom:20px;

    .row{
      margin-top:10px;
      .key{float:left; margin-right:5px; color:#333; font-weight: bold; font-size:14px;}
      .value{float:left; color:#333; font-size:14px;}
    }

    .prices{font-size:16px; margin-top:10px; color:@primary-color-bright;
      .before-price{font-size:12px; text-decoration: line-through; color:#666;}
    }
  }
}


.pagination{
  .active span{background:#E24F69; border:0px}
  .active span:hover{background:#C13D63}
}


.cart{
  .quantity-txt{width:40px;}
  p{margin:10px;}
  b{float:right;}
  table{
    border-collapse:collapse;
    tr th{background:#EEE; color:#333; font-weight: normal; }
    tr th, tr td{text-align: center; border: 1px solid #EEE;padding:10px 20px; vertical-align: top; border-color: #DDD;}

    strong{font-size:18px; font-weight: bold;}

    img{width:100px;}

    .txt{width:30px;}

    .product-info{
      cursor: pointer;
      span{ color:@primary-color-bright; display:block; margin-bottom:10px;}
    }

    .glyphicon-remove{cursor: pointer;}

  }

  .total{text-align:right;
    span{font-size:18px; color:#666}
    strong{ font-size:20px; color:@primary-color-bright; font-weight: normal;}
    .before-price{font-size:16px; text-decoration: line-through; color:#333;}
  }
  .text-right{margin-bottom:10px;}
}

.checkout{
  .before-price{font-size:12px; color:#666; text-decoration: line-through;}
}


.footer{margin-top:0px; text-align: center; padding:30px;
  .copyright{font-size:12px; color:#666;}
}


.bottom-notifier{
  color:#FFF; background:#AB066A; position:fixed; bottom:0px; width:100%; height:30px; padding:5px; text-align: center; opacity: 0.8; right:0px;
  cursor: pointer;
}
.bottom-notifier:hover{
  background:#91065a
}